doctype html
link(rel='stylesheet' href='css/style2.css')

head
    title Robel Launch 
body
 .topnav 
    a.active(href="/views") Home
    a(href="about") About
    a(href="#experience") Experience
    a(href="contact") Contact     

<header> <h1>Contact Test</h1>
</header>  
    h1 About me -  
        ul
            li Etc -- new degree wow computer science
            
footer
    h1 Testing article     
            
            </nav>

    section 
        h2 get out of my head
        a(href='/views')
            button.btn.btn-home Home

            