doctype html
link(rel='stylesheet' href='css/style2.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

head
    title Robel Contact 
body
//- Implements the nav bar at the top of the page.
.topnav
  a.active(href='/views') Home
  a(href='about') About
  .dropdown
    button.dropbtn
      | Experience  
      i.fa.fa-caret-down
    .dropdown-content
      a(href='past')        Past Work
      a(href='current')     Current Work
      a(href='future') Future Work 
  a(href='contact') Contact  
      
    //- Creating the contact page
<header> <h1>Contact Me:)</h1>
</header>  
    section.contact-form
      .form-container
        h2 Your Details
        form(action='#' method='POST')
          label(for='name') Name: 
          input#name(type='text' name='name' required='')
          label(for='email') Email: 
          input#email(type='email' name='email' required='')
          label(for='phone') Phone: 
          input#phone(type='tel' name='phone')
          label(for='message') Message: 
          textarea#message(name='message' rows='4' required='')
          button.submit-button(type='submit') Submit
.footer-contactpg
  a(href='/views')
    button.btn.btn-contact Home!



            