doctype html
link(rel='stylesheet' href='css/style2.css')

head
    title Robel Launch 
body
<header> <h1>Contact Test</h1>
</header>  
    h1 About me -  
        ul
            li Etc -- new degree wow computer science
        section 
            <nav>   
            <ul> 
            <li> <a href="previous">Past Work</a></li>
            <li> <a href="#">Curent Work</a></li>
            <li> <a href="#">Future Work</a></li>
            
            </ul>
            
footer
    h1 Testing article     
            
            </nav>

    section 
        h2 get out of my head
        a(href='/views')
            button how to get back