doctype html
link(rel='stylesheet' href='css/style.css')

head
    title Robel Launch 
body
<header> <h1>Welcome</h1>
</header>  
    h1 About me -  
        ul
            li Etc -- 
            li Etc --
            li Etc -- new degree wow computer science
            li Etc -- 
        section 
                <button onclick="views2.href = 'example-live';" id="myButton" class="float-left submit-button" >Home</button>
        section 
            <nav>   
            <ul> 
            <li> <a href="#">Past Work</a></li>
            <li> <a href="#">Curent Work</a></li>
            <li> <a href="#">Future Work</a></li>
            
            </ul>
            
            
            
            
            </nav>