doctype html
link(rel='stylesheet' href='css/style.css')
label(for='')    
head
    title Robel Launch 
body

.topnav
  a.active(href='/views') Home
  a(href='about') About
  .dropdown
    button.dropbtn
      | Experience
      i.fa.fa-caret-down
    .dropdown-content
      a(href='past') Past Work
      a(href='current') Current Work
      a(href='future') Future Work 
  a(href='contact') Contact  
    

header
  h1 Welcome
h1 
  | About me -
  ul
    li Etc -- new degree wow computer science
    li Etc -- 

section 
    img(src='img/me.jpg' alt='Robel' style='width:800;height:500;')

  
    section
    h2 test
    a(href='/contact')
        button.btn.btn-contact how to contact me! 
