doctype html
link(rel='stylesheet' href='css/style.css')

head
    title Robel Launch 
body
<header> <h1>Welcome</h1>
</header>
    h1 About me -
        ul

            li Etc -- new degree wow computer science
            li Etc -- 

        section 
            nav
                ul
                li
                    a(href='past') Past Work
                li
                    a(href='current') Curent Work
                li
                    a(href='future') Future Work


    section 
        h2 test
        a(href='/contact')
            button How to contact me!