doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Robel Launch
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  
// Implements the nav bar at the top of the page.
.topnav
  a.active(href='/views') Home
  a(href='/about') About
  .dropdown
    button.dropbtn
      | Experience  
      i.fa.fa-caret-down
    .dropdown-content
      a(href='/past') Past Work
      a(href='/current') Current Work
      a(href='/future') Future Work
  a(href='contact') Contact
header
  .container
    h1 Welcome
    .occupation
      h1
        i Chemist
    .name
      h1
        b Robel Clifton
  .summary
    p I am a chemist by trade and a student of life by choice.
    p I find that if I keep an open mind the experiences will be worth it.
// Adds the image on the home page.
.container
  img(src='img/me.jpg' alt='Robel' width='300' height='300')
.footer-homepg
  h2 Test
  a(href='/contact')
    button.btn.btn-home How to contact me!
