doctype html
link(rel='stylesheet' href='meris/meris.css')

head
    title Robel Launch 
body 
    h1 About me -  
        ul
            li Etc -- 
            li Etc --
            li Etc --
            li Etc -- 
        section 
            h4 Clicky
                button click button wooo