/* Meris website very nice.
 * April 28th, 2024
 * Discord @Accomplish Github @MrMeris
 * Discord @MorningStar#666 Github @Robel717
 */
 
 /* TODO: css for main launch page */
 style {
    box-sizing: border-box;
  }
 
  body{
     background-color: #CCFFFF;
     font-family: Arial, Helvetica, sans-serif;
 
    /* }
  */
    header{
     background-color: #CCFFFF;
     padding: 0.5px;
     text-align: center;
     font-size: 35px;
     color: black;
     
  
   }

   ul{
    float: left;
    margin:0 5px;
   }

   /*Classes */
   ul.horizontal-list li {
    list-style-type: none;
    margin: 0%;
    padding: 0;
    display: flex;

   }

   ul.horizontal-list li {
    margin-right: 10px;
   }

   .btn {
    /* padding: 10px; */
    color: white;
    /* position: absolute; */
   }
   /* .right {
    position: absolute;
    right: 0px;
    width: 150%;
    padding: none;
   } */

   .btn-home {
    background-color: wheat;
    padding: none;
    position: absolute;
    right: 0px;
    width: 150%;
    padding: none;
    
   }

   .btn-contact {
    background-color:lightcoral ;
   }

   .topnav {
    overflow: hidden;
    background-color: black;
   }

   .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
   }
   /* Dropdown container */
   .dropdown {
    float: left;
    overflow: hidden;
   }

   .dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
   }

   .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    color: black;
   }

   .topnav a.active{
    background-color: #04aa6d;
    color: white;
   }
   /* Dropdown content is hidden by default */
   .dropdown-contant {
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
   }
   /* Add a gray background color to dropdown links on hover */
   .dropdown-contant a:hover {
    background-color: gray;
    color: black;
   }
   /* Show the dropdown menu on hover */
   .dropdown:hover .dropdown-contant {
    display: block;
   }
   /* Links inside the dropdown */
   .dropdown-contant a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
   }
   nav{
     float: left;
     width: 30%;
     /*height: 300px;*/
     background: #CCFFFF;
     padding: 20px;
   }
 
   article{
     float: left;
     padding: 20px;
     width: 70%;
     background-color: #f1f1f1;
   }
 
   section::after{
     content: "";
     display: table;
     clear: both;
   }
 
   footer{
     background-color: #777;
     padding: 10px;
     text-align: center;
     color: white;
   }
   @media (max-width: 600px){
     nav, article {
       width: 100%;
       height: auto;
     }
   }
    }
 