doctype html
link(rel='stylesheet' href='css/style2.css')

head
    title Robel Launch 
body
<header> <h1>Current Test</h1>
</header>  
    h1 About me -  
        ul
            li Etc -- new degree wow computer science
        section 
            <nav>   
            <ul> 
            <li> <a href="past">Past Work</a></li>
            <li> <a href="current">Curent Work</a></li>
            <li> <a href="future">Future Work</a></li>
            
            </ul>
            
footer
    h1 Testing article     
            
            </nav>

    section 
        h2 get out of my head
        a(href='/views')
            button how to get back