doctype html
link(rel='stylesheet' href='css/style2.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

head
    title Robel About 
body
//- Implements the nav bar at the top of the page.
.topnav
  a.active(href='/views') Home
  a(href='/about') About
  .dropdown
    button.dropbtn
      | Experience  
      i.fa.fa-caret-down
    .dropdown-content
      a(href='past')        Past Work
      a(href='current')     Current Work
      a(href='future') Future Work 
  a(href='contact') Contact  
      
    
.about-section
  h1 About Me (random place holder)
  p I am him the one and only the kid with the style and swag.
  p I am also a nerd so there is a contridicting personality for you.

.wizhat-img
  img(src='img/grad.jpg' alt='wiz' style='width: 550px; height: 850px')

.pup-img
  img(src='img/pup.jpg' alt='pup' style='width: 550px; height: 850px')
.bball-img
  img(src='img/bball.jpg' alt='bball' style='width: 550px; height: 850px')
.footer-contactpg
  h2 Test
  a(href='/views')
    button.btn.btn-contact Home!



            