doctype html
link(rel='stylesheet' href='css/meris.css')

head
    title Meris Launch 
body 
    h1 About me -  
        ul
            li Etc -- 
            li Etc -- 
            li Etc --
            li Etc --
        
    
