doctype html
link(rel='stylesheet' href='css/style2.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

head
    title Robel Future 
body
.topnav
  a.active(href='/views') Home
  a(href='about') About
  .dropdown
    button.dropbtn
      | Experience  
      i.fa.fa-caret-down
    .dropdown-content
      a(href='past')        Past Work
      a(href='current')     Current Work
      a(href='future') Future Work 
  a(href='contact') Contact  
    
//- section 
//-     h2 Hero
//-     a(href='views/future')
//-     //- TODO
//-     img(src='img/batman.jpg' alt='nightwatch' style='width:42px;height:42px;')
            
header
  .container
  h1 Future Work test page    
  section 
      p get out of my head

section 
    h2 Hero
    a(href='views/future')
    //- TODO
    img(src='img/batman.jpg' alt='nightwatch' style='width:42px;height:42px;')


.footer-contactpg
  h2 Test
  a(href='/views')
    button.btn.btn-contact Home!

    